.llmm{
    color: rgb(87, 131, 44);
    background-color: greenyellow;
}
.bd{
    color: darkred;
    background-color: red;
}
.eed{
    color: darkblue;
    background-color: lightblue;
}
.fol{
    color: rgb(199, 41, 136);
    background-color: rgb(230, 173, 207);
}
.prog{
    color: rgb(216, 85, 42);
    background-color: lightsalmon;
}
.sis{
    color: darkgrey;
    background-color: lightgray;
}
.id{
    color: darkgoldenrod;
    background-color: lightgoldenrodyellow;
}